body {
  margin: auto;
  font-family: "Proxima Nova Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #7d7d7d;
  background-color: rgba(70, 49, 45, 0.3);
}

.background-gradient {
  padding-top: 2em;
  padding-bottom: 1em;
  color: grey;
  /*background-color: #5cb85c;
  border-color: #4cae4c;
  background: linear-gradient(to right, rgba(92,184,92,0), rgba(92,184,92,.2)); /* Standard syntax (must be last) */
  
}
  
.footer-padding {
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
}

.img-padding {
  padding-left: .2em;
  padding-right: .2em;
}

.button-padding {
  padding-top: 1em;
  padding-bottom: .5em;
}

.text-color {
  color: rgba(43, 30, 28, 1);
}

.nav-color {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  background: linear-gradient(to right, rgba(43, 30, 28, 1), rgba(43, 30, 28, 1)); /* Standard syntax (must be last) */
  /*background: linear-gradient(to right, rgba(92,184,92,.1), rgba(92,184,92,.5)); /* Standard syntax (must be last) */
  /*background-color: rgb(25, 112, 12);*/
}

.nav-text {
  color: white;
}

nav img {
  background-color: white;
}
