* { box-sizing: border-box;}

html { 
  /*background-color: rgba(70, 49, 45, 0.3);*/
  /*background: url(../images/clouds.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body{
  height: 100%;
  width: 100%;
}

body {
  margin: auto;
  font-family: "Proxima Nova Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #999999;
  background-color: rgba(70, 49, 45, 0.3);
  /*background: url(../images/clouds.jpg) no-repeat center center fixed;*/
}
  

nav img {
  background-color: white;
}

header {
  background-color: white;
  margin-top: auto;
  height : 15%;
}

.nav-custom {
  /*padding: 2em;*/
  width: 100%
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 70%;
  width: 50%;
  /*background: url(../images/clouds.jpg) no-repeat center center fixed;*/
}

.media {
  /*color: white;*/
  color: rgba(70, 49, 45, 1);
  padding: 2em;
}

.nav-color {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  background: linear-gradient(to right, rgba(43, 30, 28, 1), rgba(43, 30, 28, 1)); /* Standard syntax (must be last) */
  /*background: linear-gradient(to right, rgba(92,184,92,.1), rgba(92,184,92,.5)); /* Standard syntax (must be last) */
  /*background-color: rgb(25, 112, 12);*/
}

.search-text, .nav-text {
  color: white;
}

/*.container1 {
  height: 100%;
  width: 100%;
  background-color: rgba(43, 30, 28, 1);
  margin: auto;
  padding-top: 2em;
}*/

.container2 {
  height: 100%;
  width: 100%;
  /*background-color: rgba(43, 30, 28, 1);*/
  margin: auto;
  padding-top: 2em;
}

.footer-padding {
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;
}

footer {
  background-color: white;
}