* { box-sizing: border-box;}

body {
  margin: auto;
  font-family: "Proxima Nova Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #7d7d7d;
  background-color: #7d7d7d;
}

html { 
  background: url(../images/paddy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body{
  height: 100%;
  width: 100%;
}


h1 img {
  background-color: white;
}

header {
  background-color: white;
  margin-top: auto;
  /*padding-top: 2em;*/
 /* background-image: url("/images/clouds.jpg");*/
}

/*header h1 { 
  color: black;
  padding: 1rem;
  margin: auto;
  text-align: center;
}*/

.custom-nav {
  padding: 2em;
  width: 100%
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.media {
  color: white;
  padding: 2em;
}

.nav-color {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  background: linear-gradient(to right, rgba(92,184,92,.1), rgba(92,184,92,1)); /* Standard syntax (must be last) */
  /*background-color: rgb(25, 112, 12);*/
}

.search-text, .nav-text {
  color: white;
}

.footer-padding {
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;
  /*padding-bottom: 1em;*/
}

footer {
  background-color: white;
}